# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/

# Docker
docker_archive/

# Audio files
static/uploads/*
static/results/*
!static/uploads/.gitkeep
!static/results/.gitkeep

# Logs
*.log

# OS
.DS_Store
Thumbs.db
